body {
  background-color: black;
}

img {
  width: 100%;
  border: solid white 5px;

}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

.poster {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  color: white;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  
}
